<nav class="mb-5">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink='/'>Home</a>
        </li>
        <li class="breadcrumb-item active">
            Categories
        </li>
    </ul>
</nav>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2 border-left pl-2"></h1>
    </div>
    <div class="col-md">
        <a routerLink="new" class="btn btn-success float-right">
            + Nova Categoria
        </a>
    </div>
</div>

<p-table class="table table-houver" 
    [value]="resources" 
    [paginator]="true" 
    [rows]="10" 
    [totalRecords]="totalElements"
    [first]="page" 
    [rowsPerPageOptions]="[5,10,15,20,50]"
    [lazy]="true"
    [loading]="loading"
    (onLazyLoad)="loadData($event)"  
    >

    <ng-template pTemplate="header" let-columns>
        <tr class="bg-primary text-light">
            <th [pSortableColumn]="'name'" class="custom-table">
                Nome
                <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th class="custom-table">Ações</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-resource let-columns="resources">
        <tr>
            <td>
                <strong>{{resource.name}}</strong><br>
                <small>{{resource.description}}</small>
            </td>
            <td>
                <a [routerLink]="[resource.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
                <button (click)="alert('excluir')" class="btn btn-outline-danger btn-sm">Excluir</button>
            </td>
        </tr>
    </ng-template>

</p-table>