.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.field-width {
    width: 100%;
}

.custom-table {
    color: #ffffff !important;
    background-color: #007ad9 !important;
}